<%= form_with(model: link, class: "needs-validation") do |form| %>
  <% if link.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"> <%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h4>

      <ul>
        <% link.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :url, class: "form-label" %>
    <%= form.text_area :url, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :short_code, class: "form-label" %>
    <%= form.text_field :short_code, class: "form-control", required: false %>
  </div>

  <div class="mb-3">
    <%= form.label :expiry_date, class: "form-label" %>
    <%= form.date_field :expiry_date, class: "form-control", min: Date.current.to_s, required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
