<div id="<%= dom_id link %>">
  <p>
    <strong>User:</strong>
    <%= link.user_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= link.title %>
  </p>

  <p>
    <strong>Favicon:</strong>
    <%= link.favicon %>
  </p>

  <p>
    <strong>Short code:</strong>
    <%= link.short_code %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= link.expiry_date %>
  </p>

  <p>
    <strong>Clicks:</strong>
    <%= link.clicks %>
  </p>

  <p>
    <strong>Validated:</strong>
    <%= link.validated %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= link.deleted %>
  </p>

</div>
